.jumbotron{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: cornflowerblue;
    color: black;

}
.custom-select{
    width: 300px;
}
.lead{
    color: brown;
}
.nav-link.ml-3{
    color: grey;
}